nav {
    color: black;
    background-color: gold;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    padding-right: 50px;
    vertical-align: middle;
}

nav li.title {
    font-size: 48px;
    font: Helvetica;
}

nav button {
    background-color: rgb(231, 179, 47);
    font-size: 16px;
    border-radius: 10px;
}

.imgnav {
    height: 60px;
    width: 60px;
    display: block;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

header {
    background-color: lightyellow;
    color: #c2c02b;
    padding: 10px;
    text-align: center;
}

body {
    font-size: 20px;
    margin: 20px;
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;

}

.text-container {
    overflow: hidden;
    margin-bottom: 20px;
}

.float-right {
    float: right;
    margin: 0 0 20px 20px;
    max-height: 300px;
    max-width: 300px;
}

.home {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 300px;
    max-height: 300px;
}

.float-left {
    float: left;
    margin: 0 20px 0 20px;
    max-height: 300px;
    max-width: 300px;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    font-size: 2.25rem;
    font-weight: bold;
}

.card-container {
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.browse-card {
    display: flex;
    flex-direction: column;
    flex-basis: 0 0 150px;
    background-color: #FFF8A7;
    max-width: 100%;
    margin: 0.5rem;
    border-radius: 10px;
    border: 1px solid #7A784B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.browse-card p {
    font-size: 16px;
    padding: 10px;
}

footer {
    color: white;
    background-color: #3e1305;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

footer p:last-child {
    padding-top: 8px;
}

@media (min-width: 900px) {

    .browse-card {
        display: inline-block;
        flex-direction: row-reverse;
        width: 31%;
        height: 100%;
        margin-left: 1%;
        text-align: center;
    }

    .card-container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

    }

    .text-container img {
        max-height: 400px;
        max-width: 400px;
    }

    img.home {
        max-width: 300px;
        max-height: 300px;
    }
}